body {
    width: 200px;
}

.flex {
    display: flex;
    height: 200px;
    /* flex-direction: row-reverse / row / column / column-reverse */
    flex-wrap: wrap;
    /* flex-flow; flex-direction flex-wrap; */
    justify-content: space-evenly;
    /* align-items: center; */
    align-content: center;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
